@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1vw 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

#logo{
    width: 10vw;
}
.navbar a{
    font-size: 1vw;
    color: rgba(37,62,84,255);
    text-decoration: none;
    font-weight: 500;
    margin-left: 1.75vw;
    transition: .3s;
}

.navbar a:hover{
    color: white;
}


.start{
    background-color: rgba(37,62,84,255);
    color: rgba(147,213,239,255) !important;
    border: 0.15vw;
    border-radius: 0.6vw;
    padding: 0.5vw 0.5vw;
}

.start:hover{
    background-color: white !important;
    color: rgba(37,62,84,255) !important;
}

body {
    display: flex;
    background: url(back.jpg) no-repeat;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.wrapper {
    position: relative;
    width: 25vw;
    height: 30vw;
    background: transparent;
    border: 0.1vw solid rgba(255, 255, 255, .05);
    border-radius: 1vw;
    backdrop-filter: blur(1vw);
    box-shadow: 0 0 1.5vw rgba(0, 0, 0, .5);
    overflow: scroll;
    transition: 1s ease;
}
.wrapper .form-box{
    width: 80%;
}
::-webkit-scrollbar {
    display: none;
}

.item{
    font-size: 0.8vw;
    color: rgba(37,62,84,255);
    justify-content: center;
    position: relative;
    height: 3vw;
    width: 100%;
    border-bottom: 0.1vw solid rgba(37,62,84,255);
    display: flex;
    align-items: center;
}

.item p{
    margin: 1vw;
}

.item a{
    display: flex;
    margin: 1vw;
    background-color: rgba(37,62,84,255);
    height: 2vw;
    width: 5vw;
    border: none;
    outline: none;
    border-radius: 0.3vw;
    cursor: pointer;
    color: white;
    font-size: 0.8vw;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
}



h2{
    position: absolute;
    top: 10%;
    color: rgba(37,62,84,255);
    font-size: 2.8vw;
}