@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1vw 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

#logo{
    width: 10vw;
}
.navbar a{
    font-size: 1vw;
    color: rgba(37,62,84,255);
    text-decoration: none;
    font-weight: 500;
    margin-left: 1.75vw;
    transition: .3s;
}

.navbar a:hover{
    color: white;
}


.start{
    background-color: rgba(37,62,84,255);
    color: rgba(147,213,239,255) !important;
    border: 0.15vw;
    border-radius: 0.6vw;
    padding: 0.5vw 0.5vw;
}

.start:hover{
    background-color: white !important;
    color: rgba(37,62,84,255) !important;
}

body {
    display: flex;
    background: url(back.jpg) no-repeat;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.wrapper {
    position: absolute;
    display: flex;
    top: 6vw;
    left: 5vw;
    width: 37.5vw;
    height: 37.5vw;
    background: transparent;
    border: 0.1vw solid rgba(255, 255, 255, .05);
    box-shadow: 0 0 1.5vw rgba(0, 0, 0, .5);
    border-radius: 1vw;
    backdrop-filter: blur(1vw);
    justify-content: center;
    align-items: center;
    transition: 1s ease;
}

.tab{
    position: absolute;
    top: -1.5vw;
    left: 0.5vw;
    display: flex;
}

.tablinks{
    background-color: transparent;
    height: 2vw;
    width: 5vw;
    cursor: pointer;
    font-size: 0.8vw;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: rgba(37,62,84,255);
    transition: 0.3s;
}

.tablinks:hover{
    transition: 0.3s;
    color:white;
}

.tab a.active {
    transition: 0.3s;
    color:white;
  }
  
.tabcontent {
    position: absolute;
    top: 6vw;
    display: none;
    border-top: none;
    color: rgba(37,62,84,255);
}



#PieChart {
    position: relative;
    width: 35vw;
    height: 35vw;
    border-radius: 50%;
    background: conic-gradient(var(--colors));
}

.slice {
    width: 50%;
    height: 100%;
    clip-path: polygon(100% 100%, 0 100%, 0 0, 100% 0);
    background-color: transparent;
}

#PollsChart{
    position: relative;
    display: flex;
    width: 35vw;
    height: 35vw;
}

.poll{
    position: relative;
    margin: 0.5vw;
    height: auto;
    max-height: 34vw;
    width: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.bar{
    position: absolute;
    bottom: 0;
    height: 35vw;
    max-height: 30vw;
    width: 50%;
    max-width: 2.5vw;
    background-color: rgba(37,62,84,255);
    border-radius: 0.25vw;
}

.poll p{
    font-size: 1vw;
    margin-top: 0.25vw;
    color: rgba(37,62,84,255);
}

h3{
    font-size: 1vw;
}