@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

#logo{
    width: 200px;
}
.navbar a{
    font-size: 18px;
    color: rgba(37,62,84,255);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover{
    color: white;
}


.start{
    background-color: rgba(37,62,84,255);
    color: rgba(147,213,239,255) !important;
    border: 3px;
    border-radius: 12px;
    padding: 10px 10px;
}

.start:hover{
    background-color: white !important;
    color: rgba(37,62,84,255) !important;
}


body {
    display: flex;
    background: url(back.jpg) no-repeat;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.wrapper {
    position: absolute;
    top: 120px;
    left: 100px;
    width: 750px;
    height: 750px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .05);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    transition: 1s ease;
}

.tab{
    position: absolute;
    top: -45px;
    left: 10px;
    display: flex;

}

.tablinks{
    background-color: transparent;
    height: 40px;
    width: 100px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: (37,62,84,255);
    transition: 0.3s;
}

.tablinks:hover{
    transition: 0.3s;
    color:white;
}

.tab button.active {
    transition: 0.3s;
    color:white;
  }
  
.tabcontent {
    position: absolute;
    top: 120px;
    display: none;
    border-top: none;
}

#PieChart {
    margin: 20px;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    background: conic-gradient(
        rgba(37,62,84,255) 50% 83%,    /* Red, 25% */
        white 50% 25%  /* Green, 25% */
    );
}

.slice {
    width: 50%;
    height: 100%;
    clip-path: polygon(100% 100%, 0 100%, 0 0, 100% 0);
    background-color: transparent;
}

.poll {
    width: 300px;
    margin: 0 auto;
}

.option {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.bar {
    background-color: #3498db;
    height: 20px;
    border-radius: 5px;
}

.option p {
    margin-left: 10px;
}