@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1vw 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

#logo{
    width: 10vw;
}
.navbar a{
    font-size: 1vw;
    color: rgba(37,62,84,255);
    text-decoration: none;
    font-weight: 500;
    margin-left: 1.75vw;
    transition: .3s;
}

.navbar a:hover{
    color: white;
}


.start{
    background-color: rgba(37,62,84,255);
    color: rgba(147,213,239,255) !important;
    border: 0.15vw;
    border-radius: 0.6vw;
    padding: 0.5vw 0.5vw;
}

.start:hover{
    background-color: white !important;
    color: rgba(37,62,84,255) !important;
}

body {
    display: flex;
    background: url(back.jpg) no-repeat;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.waiting{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(37,62,84,255);
}

.countdown{
    margin-left: 1vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.pollOpen{
    font-size: 2.8vw;
}

.items1 p{
    margin: 0.5vw;
}

.items1{
    margin-left: 1vw;
    display: flex;
    flex-direction: row;
    font-size: 1.8vw;
}

.items2 p{
    height: 4vw;
    width: 4vw;
    margin-left: 1vw;
    margin-right: 1vw;
}

.items2{
    display: flex;
    flex-direction: row;
    font-size: 2.8vw;
}

.wrapper {
    margin-top: 2vw;
    position: relative;
    width: 70vw;
    height: 40vw;
    background: transparent;
    border: 0.1vw solid rgba(255, 255, 255, .05);
    border-radius: 1vw;
    backdrop-filter: blur(1vw);
    box-shadow: 0 0 1.5vw rgba(0, 0, 0, .5);
    overflow: hidden;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.grid-container {
    position: relative;
    margin: 1vw;
    margin-top: 3vw;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0.5vw;
}

.grid-item {
    cursor: pointer;
    border: 0.15vw solid rgba(37,62,84,255);
    border-radius: 1vw;
    padding: 1vw;
    margin: 0.5vw;
    font-size: 1.5vw;
    text-align: center;
    color: rgba(37,62,84,255);
}

.grid-item:hover{
    background-color: rgba(37,62,84,255);
    color: white;
}
.name{
    font-size: 3.8vw;
    color: rgba(37,62,84,255);
    text-align: center;
    margin: 2vw;
}

.closed{
    font-size: 2.8vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(37,62,84,255);
}

.wrap{
    position: relative;
    width: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: 1s ease;
}

.popup {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 20vw;
    height: 27.5vw;
    background: transparent;
    border: 0.1vw solid rgba(255, 255, 255, .05);
    border-radius: 1vw;
    backdrop-filter: blur(1vw);
    box-shadow: 0 0 1.5vw rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in-out;
}

.popup.active{
    transition: 0.2s ease-in-out;
    opacity: 1;
    visibility: visible;
}

.popup .form-box{
    width: 80%;
    padding: 0vw;
}

.form-box h2{
    font-size: 1.8vw;
    color: rgba(37,62,84,255);
    text-align: center;
}


.input-box {
    position: relative;
    width: 100%;
    height: 2.5vw;
    border-bottom: 0.1vw solid rgba(37,62,84,255);
    margin: 1.5vw 0;
    
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 0.25vw;
    transform: translateY(-50%);
    font-size: 0.8vw;
    color: rgba(37,62,84,255);
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -0.25vw;
}


.input-box input {
    width: 88%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 0.8vw;
    color: rgba(37,62,84,255);
    font-weight: 600;
    padding-left: 0.25vw;   
}

.input-box .icon {
    position: absolute;
    right: 0.4vw;
    font-size: 0.8vw;
    color: rgba(37,62,84,255);
    line-height: 2.85vw;
}


.btn {
    width: 100%;
    height: 2.25vw;
    background: rgba(37,62,84,255);
    border: none;
    outline: none;
    border-radius: 0.3vw;
    cursor: pointer;
    color: white;
    font-size: 0.8vw;
    font-weight: 500;
}

.login-register {
    font-size: 0.7vw;
    color: rgba(37,62,84,255);
    text-align: center;
    font-weight: 500;
    margin: 1.25vw 0 0.5vw;
}

.login-register p a{
    color: rgba(37,62,84,255);
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover{
    text-decoration: underline;
}

input[type="file"] {
    display: none;
}

#Upload{
    color: rgba(37,62,84,255);
    font-weight: 500;
    display: inline-block;
    padding: 0.5vw 1vw;
    border: 0.15vw solid rgba(37,62,84,255);
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25vw;
}

.display{
    color: rgba(37,62,84,255);
    font-weight: 500;
    display: none;
    max-width: 15vw;
    max-height: 7.5vw;
    font-size: 1vw;
}
#voteSubmit{
    height: 2.5vw; 
    width: 10vw; 
    margin: 1vw;
}