.env
.env.example
.env.local
.env.staging
.venv
.venv
~$roject.docx
~WRL0005.tmp
__pycache__
/app/database/database.db
/app/database/shares
/app/database/candidates
/app/blueprints/static/uploads
app/temp.py
examples/
logo.jpg
project.docx