<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('polls.static', filename='create.css') }}">
        <title>
            Account Page
        </title>
    </head>
    <body>
        <header id="loggedIn" class="header">
            <img style="cursor: pointer;" onclick="window.location.href='/'" id="logo" src="{{ url_for('static', filename='assets/logo.png') }}" >
    
            <nav class="navbar">
                <a href="/">Home</a>
                <a href="{{ url_for('home.about') }}">About</a>
                <a href="{{ url_for('home.contact') }}">Contact</a>
                <a href="{{ url_for('polls.mypolls') }}">My Polls</a>
                <a href="{{ url_for('polls.createpoll') }}">Create</a>
                <a href="{{ url_for('polls.vote') }}">Vote</a>
                <a href="{{ url_for('auth.logout') }}" class="start">Log Out</a>
            </nav>
        </header>
        <div class="wrapper">
            <div class="form-box">
                <h2>Create Poll</h2>
                <form action="{{ url_for('polls.createpoll') }}" method="post">
                    <div class="input-box">
                        <span class="icon"><ion-icon name="person"></ion-icon></span>
                        <input type="text" name="pollname" required>
                        <Label>Poll Name</Label>
                    </div>
                    <div class="input-box date">
                        <input type="date" name="fromdate" required>
                        <Label>From Date</Label>
                    </div>
                    <div class="input-box date">
                        <input type="date" name="todate" required>
                        <Label>To Date</Label>
                    </div>
                    <div class="paragraph-box">
                        <textarea placeholder="Add voters seperated by commas Example1@gmail.com, Example2@gmail.com, Example3@gmail.com" name="invitees" required></textarea>
                        <Label>Add Voters</Label>
                    </div>
                    <button type="submit" class="btn">Create</button>
                </form>
            </div>
        </div>
    </body>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</html>