<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{{ url_for('polls.static', filename='vote.css') }}">
    <head>
        <title>vote</title>
    </head>
    <body>
        <header id="loggedIn" class="header">
            <img style="cursor: pointer;" onclick="window.location.href='/'" id="logo" src="{{ url_for('static', filename='assets/logo.png') }}" >
    
            <nav class="navbar">
                <a href="/">Home</a>
                <a href="{{ url_for('home.about') }}">About</a>
                <a href="{{ url_for('home.contact') }}">Contact</a>
                <a href="{{ url_for('polls.mypolls') }}">My Polls</a>
                <a href="{{ url_for('polls.createpoll') }}">Create</a>
                <a href="{{ url_for('auth.logout') }}" class="start">Log Out</a>
            </nav>
        </header>

        <div style="display: none;" class="closed">
            This Poll is Closed.
        </div>

        <div style="display: none;"  class="waiting">
            <div class="pollOpen">
                The Poll will open in:
            </div>
            <div class="countdown">
                <div class="items1">
                    
                    <p>Days</p>
                    <p>Hours</p>
                    <p>Minutes</p>
                    <p>Seconds</p>
                </div>
                <div class="items2">
                    <p id="days">0</p> :
                    <p id="hours">0</p> :
                    <p id="minutes">0</p> :
                    <p id="seconds">0</p>
                </div>
            </div>
        </div>
        <div class="wrap">
            <div class="open">
                <div class="wrapper">
                    <div class="name">
                        {{ survey_name }}
                    </div>
                    <div class="waiting">
                        <div class="pollOpen">
                            The Poll will close in:
                        </div>
                        <div class="countdown">
                            <div class="items1">
                                <p>Days</p>
                                <p>Hours</p>
                                <p>Minutes</p>
                                <p>Seconds</p>
                            </div>
                            <div class="items2">
                                <p id="days1">0</p>
                                :
                                <p id="hours1">0</p>
                                :
                                <p id="minutes1">0</p>
                                :
                                <p id="seconds1">0</p>
                            </div>
                        </div>
                    </div>
                    <div class="grid-container">
                        {% for candidate in candidates %}
                            <div class="grid-item" id="candidate-{{ loop.index }}">{{ candidate }}</div>
                        {% endfor %}
                    </div>
                    <button id="voteSubmit" class="btn">Vote</button>
                </div>
            </div>
        </div>
        <div class="popup">
            <div class="form-box photo">
                <h2>Verify its you</h2>
                <form action="javascript:submitvote();" method="post">
                    <br>
                    <input type="file" name="image" id="userShareImage" accept="image/*"/>
                    <label for="userShareImage" id="Upload">Upload key</label>
                    <img class="display" id="display" src="#" style="display:none"/>
                    <label class="display" id="display1">Please enter the code:</label>
                    <div class="input-box">
                        <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                        <input type="text" name="sec_answer" id="sec_answer" required>
                        <Label>The code in the image</Label>
                    </div>
                    <button type="submit" class="btn">Vote</button>
                    <div class="login-register">
                        <p>Want to chage your vote?
                            <a href="#" class="photo-link">Click here</a>
                        </p>
                    </div>
                </form>
            </div>
          </div>
        <script>var endDate = "{{ end_date }}";</script>
    </body>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="{{ url_for('polls.static', filename='vote.js') }}"></script>
</html>