<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{{ url_for('home.static', filename='contact.css') }}">
    <head>
        <title>Contact</title>
    </head>
    <body>
        <header class="header">
            <img style="cursor: pointer;" onclick="window.location.href='/'" id="logo" src="{{ url_for('static', filename='assets/logo.png') }}" >
    
            {% if current_user.is_authenticated %}
            <nav class="navbar">
                <a href="/">Home</a>
                <a href="{{ url_for('home.about') }}">About</a>
                <a href="{{ url_for('home.contact') }}">Contact</a>
                <a href="{{ url_for('polls.mypolls') }}">My Polls</a>
                <a href="{{ url_for('auth.logout') }}" class="start">Log Out</a>
                <p>Hello {{current_user.f_name}}!</p>
            </nav>
            {% else %}
            <nav class="navbar">
                <a href="/">Home</a>
                <a href="{{ url_for('home.about') }}">About</a>
                <a href="{{ url_for('home.contact') }}">Contact</a>
                <a href="{{ url_for('auth.login') }}" class="start">Get Started</a>
            </nav>
            {% endif %}
        </header>
        <div class="wrapper">
            <div class="contact-box">
                <h1>Contact Us</h1>
                <br>
                <div class="box">
                    <span class="icon"><ion-icon name="mail"></ion-icon></span>
                    <a href="https://gmail.google.com/mail/?view=cm&to=VoteLock@gmail.com
                    ">Gmail</a>
                </div>
                <div class="box">
                    <span class="icon"><ion-icon name="logo-instagram"></ion-icon></span>
                    <a href="https://www.instagram.com/">Instagram</a>
                </div>
                <div class="box">
                    <span class="icon"><ion-icon name="logo-discord"></ion-icon></span>
                    <a href="https://discord.gg/pWemCTHaAM">Discord</a>
                </div>
                <div class="box">
                    <span class="icon"><ion-icon name="logo-twitter"></ion-icon></span>
                    <a href="https://twitter.com/home?lang=en">Twitter</a>
                </div>
            </div>
        </div>
    </body>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</html>