@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1vw 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

#logo{
    width: 10vw;
}
.navbar a{
    font-size: 1vw;
    color: rgba(37,62,84,255);
    text-decoration: none;
    font-weight: 500;
    margin-left: 1.75vw;
    transition: .3s;
}

.navbar a:hover{
    color: white;
}


.start{
    background-color: rgba(37,62,84,255);
    color: rgba(147,213,239,255) !important;
    border: 0.15vw;
    border-radius: 0.6vw;
    padding: 0.5vw 0.5vw;
}

.start:hover{
    background-color: white !important;
    color: rgba(37,62,84,255) !important;
}


body {
    display: flex;
    background: url(back.jpg) no-repeat;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.wrapper{
    position: relative;
    width: 15vw;
    height: 12.5vw;
    background: transparent;
    border: 0.1vw solid rgba(255, 255, 255, .05);
    border-radius: 1vw;
    backdrop-filter: blur(1vw);
    box-shadow: 0 0 1.5vw rgba(0, 0, 0, .5);
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    transition: 1s ease;
}

.wrapper .contact-box{
    padding: 2vw;
    line-height: 1.5vw;
}
h1{
    font-size: 1.8vw;
    color: rgba(37,62,84,255);
}

.contact-box .icon{
    position: absolute;
    left: 0.5vw;
    font-size: 1vw;
    color: rgba(37,62,84,255);
    line-height: 1.75vw;
}
.box{
    text-align: left;
}

.box a{
    color: rgba(37,62,84,255);
    font-size: 1vw;
    text-decoration: none;
    transition: .2s;
}
.box a:hover{
    color: black;
    transition: .2s;
}