@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;

}

body {
    background: url(back.jpg) no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    color: rgba(37,62,84,255);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1vw 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

#logo{
    width: 10vw;
}
.navbar a{
    font-size: 1vw;
    color: rgba(37,62,84,255);
    text-decoration: none;
    font-weight: 500;
    margin-left: 1.75vw;
    transition: .3s;
}

.navbar a:hover{
    color: white;
}

.start{
    background-color: rgba(37,62,84,255);
    color: rgba(147,213,239,255) !important;
    border: 0.15vw;
    border-radius: 0.6vw;
    padding: 0.5vw 0.5vw;
}

.start:hover{
    background-color: white !important;
    color: rgba(37,62,84,255) !important;
}

h1{
    font-size: 3.8vw;
}
h2{
    font-size: 1.8vw;
}
h3{
    font-size: 1.8vw;
}
.home{
    height: 70vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

#start{
    background-color: rgba(37,62,84,255);
    color: white !important;
    border: 0.15vw;
    border-radius: 0.6vw;
    padding: 0.5vw 0.5vw;
    transition: .3s;
    height: 2.5vw;
    width: 7.5vw;
    font-size: 1vw;
    cursor: pointer;
    text-decoration: none;
}

#start:hover{
    background-color: white !important;
    color: rgba(37,62,84,255) !important;
}
