<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{{ url_for('auth.static', filename='login.css') }}">

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Registration Page</title>
</head>

<body>
    <header>
        <img style="cursor: pointer;" onclick="window.location.href='/'" id="logo" src="{{ url_for('static', filename='assets/logo.png') }}" >
    </header>
    <div class="wrapper">
        <div class="form-box admin">
            <h2>Register</h2>
            <form action="{{ url_for('auth.signup_post') }}" method="post">
                <div class="input-box">
                    <span class="icon"><ion-icon name="person"></ion-icon></span>
                    <input type="text" name="name" required>
                    <Label>Name</Label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="mail"></ion-icon></span>
                    <input type="email" name="email" required>
                    <Label>Email</Label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                    <input type="password" name="password" required>
                    <Label>Password</Label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="help-circle"></ion-icon></span>
                    <input type="text" maxlength="10" name="sec_answer" required>
                    <Label>Personal Word</Label>
                </div>
                <button type="submit" class="btn">Register</button>
                <div class="login-register">
                    <p>Already have an account?
                        <a href="javascript:void(0)" onclick="goto('email', 'register');" class="admin-link">Login</a>
                    </p>
                </div>
            </form>
        </div>

        <div class="form-box login">
            <h2>Login</h2>
            <form action="javascript:validate_email();">
                <div class="input-box">
                    <span class="icon"><ion-icon name="mail"></ion-icon></span>
                    <input type="email" id="emailField" required>
                    <Label>Email</Label>
                </div>
                <br>
                <button onclick="validate_email();" type="button" class="btn" id="continueButton">Continue</button>
                <div class="login-register">
                    <p>Don't have an account?
                        <a href="javascript:void(0)" onclick="goto('register', 'login');" class="login-link">Register</a>
                    </p>
                </div>
            </form>
        </div>

        <div class="form-box photo">
            <h2>Verify its you</h2>
            <form action="{{ url_for('auth.signup_post') }}">
                <br>
                <label for="image" id="Upload">Upload key</label>
                <input type="file" name="image" id="userShareImage" accept="image/*"/>
                <img class="display" id="display" src="#"/>
                <label class="display" id="display1">Please enter the code:</label>
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                    <input type="password" id="finalPass" required>
                    <Label>Password</Label>
                </div>
                <br>
                <button type="submit" class="btn">Login</button>
                <div class="login-register">
                    <p>Used the wrong email?
                        <a href="javascript:void(0)" onclick="goto('email', 'verify');" class="photo-link">Go back</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
    <script src="{{ url_for('auth.static', filename='auth.js') }}"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>