@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    background: url(back.jpg) no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

#logo{
    width: 200px;
}
.navbar a{
    font-size: 18px;
    color: rgba(37,62,84,255);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover{
    color: white;
}


.start{
    background-color: rgba(37,62,84,255);
    color: rgba(147,213,239,255) !important;
    border: 3px;
    border-radius: 12px;
    padding: 10px 10px;
}

.start:hover{
    background-color: white !important;
    color: rgba(37,62,84,255) !important;
}


body {
    display: flex;
    background: url(back.jpg) no-repeat;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.waiting{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(37,62,84,255);
}

.countdown{
    margin-left: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.pollOpen{
    font-size: 3em;
}

.items1 p{
    margin: 10px;
}

.items1{
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    font-size: 2em;
}

.items2 p{
    height: 80px;
    width: 80px;
    margin-left: 20px;
    margin-right: 20px;
}

.items2{
    display: flex;
    flex-direction: row;
    font-size: 3em;
}

.wrapper {
    margin-top: 40px;
    position: relative;
    width: 1400px;
    height: 800px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .05);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    overflow: hidden;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.grid-container {
    position: relative;
    margin: 20px;
    margin-top: 60px;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    cursor: pointer;
    border: 3px solid rgba(37,62,84,255);
    border-radius: 20px;
    padding: 20px;
    margin: 5px;
    font-size: 30px;
    text-align: center;
    color: rgba(37,62,84,255);
}

.grid-item:hover{
    background-color: rgba(37,62,84,255);
    color: white;
}
.name{
    font-size: 4em;
    color: rgba(37,62,84,255);
    text-align: center;
    margin: 40px;
}

.closed{
    font-size: 3em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(37,62,84,255);
}

.wrap{
    position: relative;
    width: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: 1s ease;
}

.popup {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 400px;
    height: 550px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .05);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in-out;
}

.popup.active{
    transition: 0.2s ease-in-out;
    opacity: 1;
    visibility: visible;
}

.popup .form-box{
    width: 80%;
    padding: 0px;
}

.form-box h2{
    font-size: 2em;
    color: rgba(37,62,84,255);
    text-align: center;
}


.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid rgba(37,62,84,255);
    margin: 30px 0;
    
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: rgba(37,62,84,255);
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}


.input-box input {
    width: 88%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: rgba(37,62,84,255);
    font-weight: 600;
    padding-left: 5px;   
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1em;
    color: rgba(37,62,84,255);
    line-height: 57px;
}


.btn {
    width: 100%;
    height: 45px;
    background: rgba(37,62,84,255);
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    font-size: 1em;
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    color: rgba(37,62,84,255);
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a{
    color: rgba(37,62,84,255);
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover{
    text-decoration: underline;
}

input[type="file"] {
    display: none;
}

#Upload{
    color: rgba(37,62,84,255);
    font-weight: 500;
    display: inline-block;
    padding: 10px 20px;
    border: 3px solid rgba(37,62,84,255);
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

.display{
    color: rgba(37,62,84,255);
    font-weight: 500;
    display: none;
    max-width: 300px;
    max-height: 150px;
    font-size: 1.2em;
}