<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="myPolls.css">
    <head>
        <title>My Polls</title>
    </head>
    <body>
        <header id="loggedIn" class="header">
            <img style="cursor: pointer;" onclick="window.location.href='home.html'" id="logo" src="LOGO.png" >
    
            <nav class="navbar">
                <a href="home.html">Home</a>
                <a href="about.html">About</a>
                <a href="contact.html">Contact</a>
                <a href="myPolls.html">My Polls</a>
                <a href="createPoll.html">Create</a>
                <a href="vote.html">Vote</a>
                <a href="login.html" class="start">Log Out</a>
            </nav>
        </header>
        <h2>My Polls</h2>
        <div class="wrapper">
            <div class="item">
                <p class="pollName">name</p>
                <p class="dateRange">Date Range</p>
                <button class="results">Results</button>
            </div>
            <div class="item">
                <p class="pollName">name</p>
                <p class="dateRange">Date Range</p>
                <button class="results">Results</button>
            </div>
            <div class="item">
                <p class="pollName">name</p>
                <p class="dateRange">Date Range</p>
                <button class="results">Results</button>
            </div>
            <div class="item">
                <p class="pollName">name</p>
                <p class="dateRange">Date Range</p>
                <button class="results">Results</button>
            </div>
            <div class="item">
                <p class="pollName">name</p>
                <p class="dateRange">Date Range</p>
                <button class="results">Results</button>
            </div>
            <div class="item">
                <p class="pollName">name</p>
                <p class="dateRange">Date Range</p>
                <button class="results">Results</button>
            </div>
            <div class="item">
                <p class="pollName">name</p>
                <p class="dateRange">Date Range</p>
                <button class="results">Results</button>
            </div>
            <div class="item">
                <p class="pollName">name</p>
                <p class="dateRange">Date Range</p>
                <button class="results">Results</button>
            </div>
            <div class="item">
                <p class="pollName">name</p>
                <p class="dateRange">Date Range</p>
                <button class="results">Results</button>
            </div>
            <div class="item">
                <p class="pollName">name</p>
                <p class="dateRange">Date Range</p>
                <button class="results">Results</button>
            </div>
            <div class="item">
                <p class="pollName">name</p>
                <p class="dateRange">Date Range</p>
                <button class="results">Results</button>
            </div>
            <div class="item">
                <p class="pollName">name</p>
                <p class="dateRange">Date Range</p>
                <button class="results">Results</button>
            </div>
            <div class="item">
                <p class="pollName">name</p>
                <p class="dateRange">Date Range</p>
                <button class="results">Results</button>
            </div>
            <div class="item">
                <p class="pollName">name</p>
                <p class="dateRange">Date Range</p>
                <button class="results">Results</button>
            </div>
            <div class="item">
                <p class="pollName">name</p>
                <p class="dateRange">Date Range</p>
                <button class="results">Results</button>
            </div>
            <div class="item">
                <p class="pollName">name</p>
                <p class="dateRange">Date Range</p>
                <button class="results">Results</button>
            </div>
            <div class="item">
                <p class="pollName">name</p>
                <p class="dateRange">Date Range</p>
                <button class="results">Results</button>
            </div>
            <div class="item">
                <p class="pollName">name</p>
                <p class="dateRange">Date Range</p>
                <button class="results">Results</button>
            </div>
        </div>
    </body>
</html>